body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body * {
  border: solid 2px red;
}

h1{
  color: white;
  background-color: rgba(49, 101, 150, 0.927);
  padding: 30px
}

.card{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 800px;
}

.card img{
  border-radius: 76px;
}

.card .info-wrap{
  display: flex;
  
}

.phone {
  border: solid 2px rgba(49, 101, 150, 0.927);
  border-radius: 50px;
  padding: 10px;
}