body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body * {
  border: solid 2px red;
}

.card{
  display: flex;
  justify-content: space-between;
}

.card img{
  border-radius: 76px;
}

.phone {
  border: solid 2px rgb(90, 90, 203);
  border-radius: 50px;
  padding: 10px;
}